.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1vw;
}

@media only screen and (max-width: 600px) {
  .mobileStack {
      display: flex;
      flex-direction: column;
    }

  .mobileReverse {
    flex-direction: column-reverse;
  }
}